In [1]:
import pandas as pd

In [5]:
my_date=pd.read_excel('Book1.xlsx')

In [6]:
my_date.head(3)

      Name    ID  Age    Wealth
0  Mahmoud  1221   23   1000000
1  Mohamed  3223   32  23324234
2    Ahmed  2321   34    443433

In [7]:
my_date.tail(1)

    Name    ID  Age  Wealth
2  Ahmed  2321   34  443433

In [ ]:
1